<template>
    <v-card>
        <v-card-title class="grey lighten-2">
            <v-toolbar-title>
                Contacts
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-spacer></v-spacer>
            <v-text-field
                    v-model="search"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
            ></v-text-field>
            <v-spacer></v-spacer>
            <v-dialog v-model="dialog" max-width="500px">
                <template v-slot:activator="{ on }">
                    <v-btn color="primary" dark class="mb-2" v-on="on">New Contact</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">{{ formTitle }}</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="editedItem.first_name" label="First Name"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="editedItem.last_name" label="Last Name"></v-text-field>
                                </v-flex>
                                <v-flex xs6>
                                    <v-text-field
                                            v-model="editedItem.dob"
                                            label="Date of Birth"
                                            type="date"
                                    ></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="editedItem.email" label="Email"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="editedItem.company_name" label="Company Name"></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm6>
                                    <v-text-field v-model="editedItem.position" label="Position"></v-text-field>
                                </v-flex>

                            </v-layout>
                            <v-alert :value="validationMessage">
                                <ul>
                                    <li v-for="error in validationMessage">{{ error[0] }}</li>
                                </ul>
                            </v-alert>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="close">Cancel</v-btn>
                        <v-btn color="blue darken-1" flat @click="save">Save</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>


        </v-card-title>
        <v-data-table
                :headers="headers"
                :items="contacts"
                :search="search"
                :total-items="totalContacts"
                :pagination.sync="pagination"
                :loading="loading"
        >
            <template v-slot:items="props">
                <td class="text-xs-left">{{ props.item.first_name }} {{ props.item.last_name }}</td>
                <td class="text-xs-left">{{ props.item.company_name }}</td>
                <td class="text-xs-left">{{ props.item.position }}</td>
                <td class="text-xs-left">{{ props.item.email }}</td>

                <td class="text-xs-left">
                    <v-icon
                            small
                            class="mr-2"
                            @click="editItem(props.item)"
                    >
                        edit
                    </v-icon>
                    <v-icon
                            small
                            @click="deleteItem(props.item)"
                    >
                        delete
                    </v-icon>
                </td>
            </template>
            <template v-slot:no-results>
                <v-alert :value="true" color="error" icon="warning">
                    Your search for "{{ search }}" found no results.
                </v-alert>
            </template>
        </v-data-table>
    </v-card>
</template>
<script>
    import * as actions from '../store/action-types';
    import withSnackbar from './mixins/withSnackbar'

    export default {
        name: "ContactsComponent",
        mixins: [withSnackbar],
        data() {
            return {
                validationMessage: '',
                dialog: false,
                search: '',
                totalContacts: 0,
                contacts: [],
                loading: true,
                pagination: {},
                headers: [
                    {text: 'Full Name', value: 'fullName'},
                    {text: 'Company Name', value: 'company_name'},
                    {text: 'Position', value: 'position'},
                    {text: 'Email', value: 'email'},
                    {text: 'Actions', value: 'name', sortable: false},
                ],
                editedIndex: -1,
                editedItem: {
                    first_name: '',
                    last_name: '',
                    company_name: '',
                    email: '',
                    dob:'',
                },
                defaultItem: {
                    first_name: '',
                    last_name: '',
                    company_name: '',
                    email: '',
                    dob:'',
                }
            }
        },
        watch: {
            pagination: {
                handler() {
                    this.getDataFromApi()
                        .then(data => {
                            this.contacts = data.items
                            this.totalContacts = data.total
                        })
                },
                deep: true
            },
            dialog(val) {
                val || this.close()
            }
        },
        mounted() {
            this.getDataFromApi()
                .then(data => {
                    this.contacts = data.items
                    this.totalContacts = data.total
                })
        },
        methods: {
            getDataFromApi() {
                this.loading = true
                return new Promise((resolve, reject) => {
                    const {sortBy, descending, page, rowsPerPage} = this.pagination
                    this.$store.dispatch(actions.FETCH_CONTACTS, {'sortBy': sortBy, 'descending': descending, 'page': page, 'rowsPerPage': rowsPerPage, 'searchTerm': this.search}).then(response => {
                        //this.contacts = response.data
                        // const total = items.length
                        const items = response.data.data;
                        const total = response.data.total;
                        resolve({
                            items,
                            total
                        });
                    }).catch(error => {
                        if (error.response && error.response.status === 422) {
                            this.showError({
                                message: 'Invalid data',
                            })
                        } else {
                            this.showError(error)
                        }
                        this.errors = error.response.data.errors
                    }).then(() => {
                        this.loading = false
                    });
                })
            },
            editItem(item) {
                this.validationMessage = '';
                this.editedIndex = this.contacts.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            deleteItem(item) {
                const index = this.contacts.indexOf(item)
                if(confirm('Are you sure you want to delete this contact?')){
                    return new Promise((resolve, reject) => {
                        this.$store.dispatch(actions.DELETE_CONTACT, item).then(response => {
                            this.contacts.splice(index, 1)
                            this.dialog = false;
                            this.loading = false;
                            this.showMessage('Contact deleted')
                        }).catch(error => {
                            this.validationMessage = error.data.errors;
                            this.loading = false;
                        })
                    });
                }
            },

            close() {
                this.dialog = false
                setTimeout(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                }, 300)
            },

            save() {
                this.loading = true
                if (this.editedIndex > -1) {
                    /// update contact
                    return new Promise((resolve, reject) => {
                        this.$store.dispatch(actions.UPDATE_CONTACT, this.editedItem).then(response => {
                            Object.assign(this.contacts[this.editedIndex], response.data)
                            this.close()
                            this.loading = false;
                            this.showMessage('Contact updated')
                        }).catch(error => {
                            this.validationMessage = error.data.errors;
                            this.loading = false;
                        })
                    });
                } else {
                    /// create contact
                    return new Promise((resolve, reject) => {
                        this.$store.dispatch(actions.CREATE_CONTACT, this.editedItem).then(response => {
                            this.contacts.push(response.data)
                            this.close()
                            this.loading = false;
                            this.showMessage('Contact created')
                        }).catch(error => {
                            this.validationMessage = error.data.errors;
                            this.loading = false;
                        })
                    });
                }

            }
        },
        computed: {
            contactsWithfullName() {
                // This creates a new empty object, copies the item into it,
                // then calculates `fullAddress` and copies that entry into it
                // this was breaking the edit function - as it didn't know the index of the item, so disabled
                return this.contacts.map((obj) => Object.assign({}, obj, {
                    fullName: `${obj.first_name}\n${obj.last_name}`
                }));
            },
            formTitle() {
                return this.editedIndex === -1 ? 'New Contact' : 'Edit Contact'
            }
        }
    }
</script>

<style scoped>

</style>